body {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

.logo {
  margin: 0 10px;
  height: 50px;
}

.pmmp {
  color: #ff9898 !important;
  font-weight: bold;
}

.nav-link {
  color: #6084b1 !important;
}

.nav-link:hover {
  color: #79b5ff !important;
}

.active {
  color: #dc3545 !important;
}

.dropdown-item.active, .dropdown-item {
  color: #6084b1;
}

.dropdown-item.active, .dropdown-item:hover {
  background-color: #eef5fb;
  color: #79b5ff;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

.header {
   display: flex;
   height: 65vh;
   justify-content: center;
   align-items: center;
   background-color: #eef5fb;
}

.bg-img {
   background: url("../components/Home/images/1.png") no-repeat center;
   background-size: cover;
   background-position: bottom;
   width: 100%;
   position: relative;
}

.bg-img::after {
  content: " ";
  background: #000;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.4;
  left: 0;
  top: 0;
}

.jumbotron {
   background-color: inherit;
   text-align: center;
   color: #fff;
}

.headline {
   font-family: 'Roboto', sans-serif;
   font-weight: bold;
   font-size: 2.5rem;
   z-index: 5;
   position: relative;
   text-shadow: rgb(142, 60, 68) 6px 1px 3px;
}

.subheadline {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 22px;
  margin: 20px auto;
  color: #fff;
}

.section-headline {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  color: #dc3545;
}

.section-a-color {
  color: #f37368 !important;
}

.double-border-left-a {
    border-left: 8px double #f37368;
    padding: 25px;
    margin: 30px 0px;
}

.bg-color-a {
  background-color: #f37368;
}

.section-b-color {
  color: #3c7563 !important;
}

.double-border-left-b {
    border-left: 8px double #3c7563;
    padding: 25px;
    margin: 30px 0px;
}

.bg-color-b {
  background-color: #3c7563;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 1.3rem;
  color: #dc3545;
}

.card-text {
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  font-size: 15px;
  color: #656565;
}

.content {
  font-family: 'Merriweather', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #656565;
}

.home-header-box {
  min-height: 400px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.scroll-down-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  background-color: #fff;
  margin: -50px auto 0;
  border-radius: 25px;
  cursor: pointer;
  z-index: 3;
}
.scroll-down-arrow::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: 0;
  right: 0;
  border-right: 1px solid #dc3545;
  border-top: 1px solid #dc3545;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  margin: 15px auto;
}

main {
  margin: -30px auto;
}

.bg-color {
  background-color: #eef5fb;
}

.section-ab {
  padding: 50px 15px;
  z-index: 2;
  position: relative;
}

.section-a-content {
  padding: 50px 0;
  text-align: center;
}

.section-a {
  padding: 100px 15px;
}

.section-b {
  padding: 100px 15px;
}

.vimeo-video-container {
  padding: 56.25% 0 0 0;
  position: relative;
  border-radius: 5px;
  margin: 10px auto;
}

.vimeo-video {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding: 5px;
}

.partners {
  padding: 20px;
}

.carousel-imgs{
  display: block;
  width: inherit;
  object-fit: cover;
  max-height: 370px;
}

.about-us-section-a-image {
  max-width: 50%;
  margin: 30px auto;
  display: block;
}

.archive-double-border-left {
  border-left: 8px double #f37368;
  padding: 15px 20px;
  margin: 15px 0px;
}

#contacts-table {
  color: #0c0e46;
  margin: 50px auto;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  color: #79b5ff;
}

.social-media {
  margin: 10px;
  font-size: 40px;
  color: #516479;
}

.error-page {
  background: url(../components/Error/images/not-exist.png) no-repeat center;
  background-size: cover;
  width: 100%;
  min-height: 90vh;
  padding: 15px;
  color: #fff;
}

.error-page a {
  text-decoration: none;
  color: #ff0000;
  padding: 7px;
}

.error-page a:hover {
  color: #dc3545;
}

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer p {
  margin: 0;
  /* color: #fff; */
  text-align: center;
  padding: 10px 5px;
}

#heart, #sharif-khlief {
  color: #dc3545;
  font-weight: bold;
}
